<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      img {
        max-width: 300px;
      }
      .event {
        page-break-after: always;
      }
    </style>
  </head>
  <body>
    {% for event in events %}
    <div class="event">
      <h1>{{ event.title }}</h1>
      <p><strong>Date:</strong> {{ event.date }}</p>
      <p><strong>Participants:</strong> {{ event.participants }}</p>
      <p>{{ event.description }}</p>
      {% if event.image_filename %}
      <img src="static/uploads/{{ event.image_filename }}" />
      {% endif %}
    </div>
    {% endfor %}
  </body>
</html>
